body {
	background-color: rgb(255, 247, 244);
 	margin-top:5%;
 	margin-left:25%;
 	margin-right:25%;
}

h1 {
 	font-weight: 400;
  font-size: 35pt;
}

/*
code {
 	font-family: Consolas,"courier new";
  color: navy;
  background-color: #EAEDED;
  padding: 2px;
  font-size: 70%;
}
*/

#footer{
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.about {
  float: left;
  width: 70%;
  padding: 0px;
  text-align: justify;
}

.photo {
  float: right;
  width: 0%;
  padding: 0px;
  margin-left: 10%;
}

.subheading {
  font-weight: 400;
  font-size: 15pt;
 	margin-right: 10%;
}

.current_subheading {
  font-weight: 400;
  font-size: 22pt;
 	margin-right: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  width: 750px;
  /*height: 240px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /*background-color: #2196F3;*/
}

.grid-container > div {
  padding: 5px 0px;
  font-size: 18px;
  place-self: center;
  /*background-color: rgba(255, 255, 255, 0.8);*/
}

.text {
  font-size: 18px;
  width: 600px;
  /*text-align: justify;*/
}

li:not(:last-child) {
  margin-bottom: 10px;
}

/*
.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

/*
/* Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: table;
}
*/